div {
  background-color: var(--background-secondary);
  border-radius: 0.5rem;
  color: var(--text-secondary);
  display: inline-block;
  margin-bottom: 1rem;
  padding: 1rem;
}

h1 {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

ol {
  list-style-type: none;
  margin: 0.1em 1em;
  padding: 0;
}
